@import "./utils/variables";

@import "./base/common";

@import "./components/page-header";

@import "./components/menu";

@import "./components/page-hero";

@import "./components/modal";

@import "./components/page-advantages";

@import "./components/page-work";

@import "./components/page-team";

@import "./components/page-clients";

@import "./components/page-footer";

@import "./components/page-portfolio";
