// Модальне вікно Modal window

// Mobile version

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 250ms ease-in;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease-in;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 450px;
  min-height: 609px;
  border-radius: 4px;

  background-color: $main-light-bg;
  opacity: 1;
}
.modal__btn {
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;

  border-color: rgba(0, 0, 0, 0.1);
  background-color: $main-light-bg;
  border-radius: 50%;
  cursor: pointer;
}
.modal__icon:hover,
.modal__icon:focus {
  fill: $accent-text-color;
}
.form {
  padding: 0px 40px 40px 40px;
}
.form__text {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: $main-text-color;
}
.form-field {
  display: flex;
  flex-direction: column;
  position: relative;

  & textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.form-field__text {
  margin-bottom: 4px;

  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $second-text-color;
}
.form-field__input {
  margin-bottom: 10px;
  padding-left: 42px;

  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;
  outline: none;

  &:focus + .form-field__icon {
    fill: $accent-text-color;
  }
  &:focus {
    border-color: $accent-text-color;
  }
}
.form-field__icon {
  position: absolute;
  top: 28px;
  left: 12px;
  width: 18px;
  height: 18px;
}
.form-field__textarea {
  padding: 12px 16px;

  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  cursor: pointer;
  outline: none;

  &:focus {
    border-color: $accent-text-color;
  }
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: $second-text-color;
}
.checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkbox__input {
  position: absolute;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox__input:checked + .checkbox__span > .checkbox__icon {
  background-color: $accent-text-color;
  border-color: $accent-text-color;
  background-image: url("../images/icons/icon-check.svg");
  background-origin: border-box;
  background-size: contain;
}
.checkbox__icon {
  display: flex;
  align-items: center;
  margin-right: 8px;

  width: 16px;
  height: 15px;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 4px;
}
.checkbox__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: $accent-text-color;
}
.form-field__btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  width: 200px;
  padding: 9px 32px;
  border-radius: 4px;
  border: 1px solid $accent-text-color;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: $main-light-bg;
  background-color: $accent-text-color;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   transition: all 250ms ease-in;

//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.2);

//   &.is-hidden {
//     visibility: hidden;
//     opacity: 0;
//     pointer-events: none;
//     transition: all 250ms ease-in;
//   }
// }
// .modal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);

//   min-width: 528px;
//   min-height: 581px;
//   border-radius: 4px;

//   background-color: $main-light-bg;
//   opacity: 1;
// }
// .modal__btn {
//   display: flex;
//   align-items: center;

//   margin-left: auto;
//   margin-top: 8px;
//   margin-right: 8px;
//   width: 30px;
//   height: 30px;

//   border-color: rgba(0, 0, 0, 0.1);
//   background-color: $main-light-bg;
//   border-radius: 50%;
//   cursor: pointer;
// }
// .modal__icon:hover,
// .modal__icon:focus {
//   fill: $accent-text-color;
// }
// .form {
//   padding: 0px 40px 40px 40px;
// }
// .form__text {
//   margin-bottom: 12px;

//   font-weight: 700;
//   font-size: 20px;
//   line-height: 1.15;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: $main-text-color;
// }
// .form-field {
//   display: flex;
//   flex-direction: column;
//   position: relative;

//   & textarea::placeholder {
//     font-weight: 400;
//     font-size: 12px;
//     line-height: 1.16;
//     letter-spacing: 0.01em;
//     color: rgba(117, 117, 117, 0.5);
//   }
// }
// .form-field__text {
//   margin-bottom: 4px;

//   text-align: left;
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 1.16;
//   letter-spacing: 0.01em;
//   color: $second-text-color;
// }
// .form-field__input {
//   margin-bottom: 10px;
//   padding-left: 42px;

//   height: 40px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;

//   cursor: pointer;
//   outline: none;

//   &:focus + .form-field__icon {
//     fill: $accent-text-color;
//   }
//   &:focus {
//     border-color: $accent-text-color;
//   }
// }
// .form-field__icon {
//   position: absolute;
//   top: 28px;
//   left: 12px;
//   width: 18px;
//   height: 18px;
// }
// .form-field__textarea {
//   padding: 12px 16px;

//   height: 120px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;

//   resize: none;
//   cursor: pointer;
//   outline: none;

//   &:focus {
//     border-color: $accent-text-color;
//   }
// }
// .checkbox {
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   margin-top: 20px;
//   margin-bottom: 30px;

//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: $second-text-color;
// }
// .checkbox__label {
//   display: flex;
//   align-items: center;
//   cursor: pointer;
// }
// .checkbox__input {
//   position: absolute;

//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
// }
// .checkbox__input:checked + .checkbox__span > .checkbox__icon {
//   background-color: $accent-text-color;
//   border-color: $accent-text-color;
//   background-image: url("../images/icons/icon-check.svg");
//   background-origin: border-box;
//   background-size: contain;
// }
// .checkbox__icon {
//   display: flex;
//   align-items: center;
//   margin-right: 8px;

//   width: 16px;
//   height: 15px;
//   border: 2px solid rgba(0, 0, 0, 1);
//   border-radius: 4px;
// }
// .checkbox__link {
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: $accent-text-color;
// }
// .form-field__btn {
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   align-items: center;
//   margin-left: auto;
//   margin-right: auto;

//   width: 200px;
//   padding: 9px 32px;
//   border-radius: 4px;
//   border: 1px solid $accent-text-color;

//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15),
//     0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15);
//   font-family: var(--main-font);
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.06em;
//   cursor: pointer;

//   color: $main-light-bg;
//   background-color: $accent-text-color;

//   &:hover,
//   &:focus {
//     background-color: #188ce8;
//   }
// }
