// Секція портфоліо PORTFOLIO

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;

  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    padding-bottom: 30px;
  }
}
.portfolio__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}
.portfolio__btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 5px 22px;
  border-radius: 4px;
  border: 1px solid $second-light-bg;

  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: $second-light-bg;
  color: $main-text-color;

  &:hover,
  &:focus {
    color: $main-light-bg;
    background-color: $accent-text-color;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .second-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.second-list__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover .portfolio-overlay__text {
    transform: translateY(0);
  }
  &:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;

    max-width: 354px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay__text {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px 63px 24px;

  width: 100%;
  height: 294px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: $main-light-bg;
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-wrapper {
  padding: 20px 24px;
  background: $main-light-bg;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  @media screen and (min-width: 768px) {
    flex-grow: 1;
  }
}
.portfolio-wrapper__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-wrapper__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $second-text-color;
}

// .portfolio {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }
// .portfolio__list {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 50px;
// }
// .portfolio__item:not(:last-child) {
//   margin-right: 8px;
// }
// .portfolio__btn {
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   padding: 5px 22px;
//   border-radius: 4px;
//   border: 1px solid $second-light-bg;

//   font-family: $main-font;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.62;
//   letter-spacing: 0.03em;
//   background: $second-light-bg;
//   color: $main-text-color;

//   &:hover,
//   &:focus {
//     color: $main-light-bg;
//     background-color: $accent-text-color;
//     cursor: pointer;
//   }
// }
// .second-list {
//   display: flex;
//   flex-wrap: wrap;
//   margin-top: -30px;
//   margin-left: -30px;
// }
// .second-list__item {
//   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   flex-basis: calc((100% - 90px) / 3);
//   //   flex-basis: calc(100% / 3 - 60px);

//   margin-top: 30px;
//   margin-left: 30px;
//   cursor: pointer;

//   &:hover .portfolio-overlay__text {
//     transform: translateY(0);
//   }
//   &:hover {
//     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
//   }
// }
// .portfolio-overlay {
//   position: relative;
//   overflow: hidden;
// }
// .portfolio-overlay__img.no-gap {
//   display: block;
// }
// .portfolio-overlay__text {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   transform: translateY(100%);
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   padding: 63px 24px 63px 24px;

//   width: 100%;
//   height: 294px;

//   font-weight: 400;
//   font-size: 18px;
//   line-height: 1.56;
//   letter-spacing: 0.03em;

//   color: $main-light-bg;
//   background-color: rgba(33, 150, 243, 0.9);
// }
// .portfolio-wrapper {
//   padding: 20px 24px;
//   background: $main-light-bg;
//   border-right: 1px solid #eeeeee;
//   border-bottom: 1px solid #eeeeee;
//   border-left: 1px solid #eeeeee;
// }
// .portfolio-wrapper__title {
//   margin-bottom: 4px;

//   font-weight: 700;
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;
// }
// .portfolio-wrapper__text {
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.03em;
//   color: $second-text-color;
// }
