// Секція заняття Work
.work {
  display: none;
}
// .work {
//   padding-bottom: 94px;
// }
// .work__title {
//   margin-bottom: 50px;

//   text-align: center;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.16;
//   letter-spacing: 0.03em;
// }
// .work__list {
//   display: flex;
// }
// .work__item {
//   position: relative;

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }
// .work__text {
//   position: absolute;
//   bottom: 4px;
//   right: 0;

//   padding: 27px 0px 27px 0px;
//   width: 370px;
//   height: 70px;

//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   text-align: center;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;

//   color: $main-light-bg;
//   background-color: rgba(47, 48, 58, 0.8);
// }
