// Секція герой HERO

// Mobile version
.page-hero {
  max-width: 480px;
  height: 400;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("..//../images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: $hero-bg-color;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("..//../images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("..//../images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.page-hero__title {
  margin-bottom: 30px;

  max-width: 360;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $main-light-bg;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.page-hero__btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  //   min-width: 200px;
  padding: 9px 23px;
  border-radius: 4px;
  border: 1px solid $accent-text-color;

  align-items: center;
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: $main-light-bg;
  background-color: $accent-text-color;

  &:hover,
  &:focus {
    background-color: #188ce8;
  }

  // .page-hero {
  //   max-width: 1600;
  //   height: 600;
  //   margin-left: auto;
  //   margin-right: auto;

  //   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //     url('../images/hero.jpg');
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: cover;

  //   text-align: center;
  //   padding-top: 200px;
  //   padding-bottom: 200px;
  //   margin-top: -1.5px;
  //   background-color: $hero-bg-color;
  // }
  // .page-hero__title {
  //   margin-bottom: 30px;

  //   font-weight: 900;
  //   font-size: 44px;
  //   line-height: 1.36;
  //   letter-spacing: 0.06em;
  //   text-transform: uppercase;
  //   color: $main-light-bg;
  // }
  // .page-hero__btn {
  //   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  //   min-width: 200px;
  //   padding: 9px 32px;
  //   border-radius: 4px;
  //   border: 1px solid $accent-text-color;

  //   align-items: center;
  //   font-family: $main-font;
  //   font-weight: 700;
  //   font-size: 16px;
  //   line-height: 1.87;
  //   letter-spacing: 0.06em;
  //   cursor: pointer;
  //   color: $main-light-bg;
  //   background-color: $accent-text-color;

  //   &:hover,
  //   &:focus {
  //     background-color: #188ce8;
  //  }
}
