// Шапка сайту HEDER

// Mobile version

.page-header {
  background-color: $main-light-bg;
  border-bottom: 1px solid #ececec;
}
.page-container {
  display: flex;
  align-items: center;
}
.page-header__link {
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}

.nav {
  display: none;
}
.page-wrapper__list {
  display: none;
}

// .page-header {
//   background-color: $main-light-bg;
//   border-bottom: 1px solid #ececec;
// }
// .page-container {
//   display: flex;
//   align-items: center;
// }
// .page-header__link {
//   margin-right: 93px;
//   margin-top: 24px;
//   margin-bottom: 25px;

//   font-family: $secondary-font;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
//   color: #000000;
// }
// .nav__list {
//   display: flex;
//   align-items: center;
//   margin-top: 32px;
//   margin-bottom: 32px;
// }
// .nav__item {
//   display: block;

//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }
// .nav__link {
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: $main-text-color;

//   &.current {
//     position: relative;
//     padding-bottom: 28px;
//     color: $accent-text-color;
//   }

//   &:hover,
//   &:focus {
//     color: $accent-text-color;
//   }
// }
// .current::after {
//   position: absolute;
//   top: 100%;
//   left: 0;
//   content: "";

//   display: inline-block;
//   border-radius: 2px;
//   width: 100%;
//   height: 4px;

//   background-color: $accent-text-color;
// }

// .page-wrapper {
//   // display: flex;
//   // align-items: center;

//   margin-left: auto;
//   margin-top: 32px;
//   margin-bottom: 32px;
// }
// .page-wrapper__list {
//   display: flex;
//   align-items: center;
// }
// .page-wrapper__mail {
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   display: flex;
//   align-items: center;

//   margin-left: 331px;
//   margin-right: 50px;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: $second-text-color;

//   &:hover,
//   &:focus {
//     fill: $accent-text-color;
//   }

//   &:hover,
//   &:focus {
//     color: $accent-text-color;
//   }
// }
// .page-wrapper__phone {
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   display: flex;
//   align-items: center;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: $second-text-color;

//   &:hover,
//   &:focus {
//     fill: $accent-text-color;
//   }

//   &:hover,
//   &:focus {
//     color: $accent-text-color;
//   }
// }
// .page-wrapper__icon {
//   margin-right: 10px;
//   fill: currentColor;
// }
