// Секція команда TEAM

// Mobile version
.team {
  background-color: $second-light-bg;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: $main-text-color;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
  }
}

.team__item {
  width: 100%;
  height: 100%;

  &:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      margin: 0;
    }
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;

    margin-left: -15px;
    margin-right: -15px;
  }

  .team__item {
    width: 354px;
    height: auto;

    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0;
  }
  .team__item {
    min-width: 270px;
    min-height: 428px;
    margin: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;

  height: 162px;
  background: $main-light-bg;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-wrapper__subtitle {
  margin-bottom: 10px;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-wrapper__text {
  margin-bottom: 16px;

  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $second-text-color;
}
.team-wrapper__list {
  display: flex;
  justify-content: center;
}
.team-wrapper__item:not(:last-child) {
  margin-right: 10px;
}
.team-wrapper__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  &:hover .team-wrapper__icon,
  &:focus .team-wrapper__icon {
    fill: $main-light-bg;
  }

  &:hover,
  &:focus {
    background-color: $accent-text-color;
  }
}
.team-wrapper__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

// .team {
//   background-color: $second-light-bg;
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

// .team__title {
//   margin-bottom: 50px;

//   text-align: center;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.16;
//   letter-spacing: 0.03em;
// }
// .team__list {
//   display: flex;
// }
// .team__item {
//   width: 270px;
//   height: 428px;

//   &:not(:last-child) {
//     margin-right: 30px;
//     width: 270px;
//     height: 428px;
//   }
// }
// .team__img.no-gap {
//   display: block;
// }
// .team-wrapper {
//   padding-top: 30px;
//   padding-bottom: 30px;

//   height: 168px;
//   background: $main-light-bg;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }
// .team-wrapper__subtitle {
//   margin-bottom: 10px;

//   text-align: center;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.18;
//   letter-spacing: 0.03em;
// }
// .team-wrapper__text {
//   margin-bottom: 16px;

//   text-align: center;
//   font-size: 16px;
//   line-height: 1.18;
//   letter-spacing: 0.03em;
//   color: $second-text-color;
// }
// .team-wrapper__list {
//   display: flex;
//   justify-content: center;
// }
// .team-wrapper__item:not(:last-child) {
//   margin-right: 10px;
// }
// .team-wrapper__link {
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   display: flex;
//   align-items: center;
//   justify-content: center;

//   width: 44px;
//   height: 44px;
//   border-radius: 50%;

//   &:hover .team-wrapper__icon,
//   &:focus .team-wrapper__icon {
//     fill: $main-light-bg;
//   }

//   &:hover,
//   &:focus {
//     background-color: $accent-text-color;
//   }
// }
// .team-wrapper__icon {
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   fill: #afb1b8;
//   width: 20px;
//   height: 20px;
// }
