// Основний шрифт
$main-font: "Roboto", sans-serif;
// Другорядний шрифт
$secondary-font: "Raleway", sans-serif;

// Основний колір
$main-text-color: #212121;
// Другорядний колір(текст)
$second-text-color: #757575;
// Колір акценту
$accent-text-color: #2196f3;
// Кольори фону
$main-light-bg: #ffffff;
$second-light-bg: #f5f4fa;
$black-bg-color: #2f303a;
$hero-bg-color: #c4c4c4;
